table {
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid #ccc;
  }

  th,td{
    padding: 8px;
    text-align: left;
    border: 1px solid #ccc;
  }
  td{
    background-color: #f2f2f2;
  }